.hiro-img {
    height: 70vh;
    width: 100%;
    background-image: url(asset/hiro-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    box-sizing: border-box;
}

.hiro-img h1 {
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 50px;
    font-style: italic;
}

.card {
    transition: all 0.3s ease-in-out;
    /* margin: 3px;
    margin-top: 20px; */
    /* width: 250px; */
}

.card:hover {
    transform: scale(1.1);
    z-index: 999;
    border-radius: 0%;
    box-shadow: 5px 5px 15px;
}

.cat-box {
    width: 200px;
    height: 200px;
}

/* ===================
    Hero Section
=================== */
.hero-section {
    height: 120vh;
    background-image: url(asset/hero2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.btn {
    width: 150px;
}

.intro-content {
    margin-top: 180px;
}

.link {
    text-decoration: none !important;
    color: white !important;
}

.search {
    height: 70px;
}

.post-job-btn {
    width: 250px;
    height: 50px;
}

.search-input {
    width: 370px;
    height: 50px;
}

/* Hero section ends */

.icons {
    display: flex;
    justify-content: flex-end;
    margin-top: -55px !important;
}

#follow-us {
    margin-left: 400px !important;
}

.footer-list {
    font-size: 25px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
    .intro-content {
        width: 100vw;
        margin-top: 100px;
    }

    .search {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .search-input,
    .post-job-btn {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-brand {
        flex-grow: 1;
        justify-content: center;
    }

    .navbar-nav {
        text-align: center;
    }

    .footer-list {
        text-align: center;
    }

    .icons {
        justify-content: center;
        margin-top: 10px !important;
    }
}

@media (max-width: 576px) {
    .intro-content {
        width: 90%;
        margin-top: 80px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .search {
        width: 100%;
    }

    .search-input,
    .post-job-btn {
        width: 100%;
        margin-top: 10px;
    }

    .footer-list {
        font-size: 20px;
    }

    .icons {
        justify-content: center;
        margin-top: 20px !important;
    }
}
